/* global */
*{
    /* giúp kích thước thẻ không thay đổi khi thêm padding và border */
    box-sizing: border-box;
}

.clear{
    clear: both;
}

/* header */
.header img{
    width: 250px;
}

.header ul{
    /* xóa dấu tròn đen của danh sách */
    list-style: none;
    background-color: black;
    padding: 20px 0;
}

.header a{
    /* xóa dấu gạch dưới của thẻ a */
    text-decoration: none;
    color: white;
}

.header li{
    display: inline;
    margin: 20px;
    /* padding: 15px;
    border: 3px solid red; */
}

/* carousel */
.carousel{
    background-image: url(../img/slider_1.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* products */
.products__item{
    float: left;
    width: 25%;
    padding: 0 20px;
}
.products__item img{
    width: 100%;
}

/* banner */
.banner{
    background-image: url(../img/nature.jpg);
    height: 400px;
    background-size: cover;
    position: relative;
}

.banner__circle{
    position: absolute;
    top: 20px;
    left: 300px;


    width: 200px;
    height: 200px;
    /* rgba */
    background-color: rgba(255, 0, 0, 0.500);
    border-radius: 50%;

    text-align: center;
    color: white;
    padding: 10px;
    /* opacity: 0.7; */

}

/* intro */
.intro__left,.intro__right,.intro__small{
    float: left;
    width: 50%;
}

.intro__item img{
    width: 100%;
    display: block;
}

.intro__item{
    padding: 0 10px 20px;
}

